<h3> Results </h3>


<% results.forEach(function(event) { %>

  <a href="<%=event.url%>"><img style='width:300px' src="<%= event.images[3].url%>"></a>
  <h2>
    <%= event.name %>
    <small><%=event.dates.start.localDate %></small>
    <input href="events/<%=event.id%>" class='btn save-link' type="button" value="Add to Saved Events">
  </h2>
  <h6><a href="/events/results?keyword=<%=event._embedded.venues[0].name%>"><%= event._embedded.venues[0].name %></a> &nbsp;&nbsp;&nbsp;(<%= event._embedded.venues[0].city.name %>, <%= event._embedded.venues[0].state.stateCode %> )</h6>
  <h5>Feautured:</h5>
  <ul>
  <% if (event._embedded.attractions) { %>
    <% for (i = 0; i < event._embedded.attractions.length; i++) { %>
        <a href="/events/results?keyword=<%=event._embedded.attractions[i].name%>"><li><%= event._embedded.attractions[i].name %></li></a>
    <% }; %>
  <% } %>
  </ul>
<% }); %>

<script>
  $('.save-link').on('click', function(e) {
    e.preventDefault();
    var thisUrl = $(this).attr('href');
    console.log(thisUrl);

    $.ajax({
      type: "POST",
      url: thisUrl,
      // data: data,
      // success: success,
      dataType: 'JSON'
    });
  });
</script>
